img{
    float: left;
    height: 10rem;
    width: 10rem;
    max-width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

h1, h2, p{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

h2{
    background-color: aquamarine;
}

@media only screen and (max-width: 320px) {
    
}